@{
    ViewData["Title"] = "Home Page";
}

@model ThirdPartySSO.LoginModel.LoginData;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<body>
    
    <form method="post" onsubmit="Index();">

        <br />
        <br />

        @Html.AntiForgeryToken()
    </form>
    @if (ViewData["Claim"] != null)
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Claims">SAML Claims</a>
        </li>
        <li>
            <span class="navbar-text">Welcome, @ViewData["Claim"]!</span>
        </li>
        
    }
    

    <table>

        <br />
        <br />
        <tr>

            <td><a asp-controller="Auth" asp-action="Login" type="button">Login</a></td>
            <td>
            <td>
            <td>
            <td><a asp-controller="Auth" asp-action="Logout">Logout</a></td>
        </tr>
    </table>

    <table>

        <br />
        <br />
        <tr>

            <td><input id="Recruitment" type="button" value="Recruitment" onclick="location.href='@Url.Action("Recruitment", "Home")'"</td>
            <td>
            <td>
            <td>
            <td><input type="button" value="Payroll" onclick="location.href='@Url.Action("Payroll", "Home")'"</td>
        </tr>
    </table>

</body>
</html>
